<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" href="/css/style.css">
		<script>

		function isFoggy(temp, dewPoint) {
     		if (temp > dewPoint) {
     			if (temp - dewPoint <= 4) {
     				return true;
     			} else if (dewPoint - temp <= 4) {
     				return true;
     			}
     		} else {
     			return false;
     		}
     	}

     	isFoggy(results.currently.temperature, results.currently.dewPoint);

		</script>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<a href="/profile">Back to Profile</a>
		<h1>Zip Code: <%= id.zip %></h1>
		<div>
		
			<ul>
				<li>Latitude: <%= id.lat %></li>
				<li>Longitude: <%= id.long %></li>
				<li>Temperature: <%= results.currently.temperature %></li>
				<li>Dew Point: <%= results.currently.dewPoint %></li>
				<li>Cloud Cover:
					<div><p id="cloud"><%= results.currently.cloudCover %></p></div>
					</div>
				</li>
			</ul>
			<div><h3>Foggy?<p id="fog"></p></h3></div>
			<div><h3>Cloudy?<p id="cloudy"></p></h3></div>

			
		<footer>
			<% include ../partials/footer %>
		</footer>
		<script src="/js/style.js"></script>
	</body>
</html>