<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container">
			<div class="page-wrap">

				<h1>Profile</h1>

				<p>Welcome, <%= user.email  %>!</p>
				<p>Your User Id is: <%= userId %></p>
				<!-- <a href="/locations">Your saved locations</a>
				<br> -->
				
				<p>Your Saved Locations:</p>
		        <% for (var i = 0; i < locationsList.length; i++) { %>
		        <div>
		            Zip Code: <a href="/locations/<%= locationsList[i].id %>"><%= locationsList[i].zip %></a>
		        </div>
		        <div>
		        	<form action="/locations/<%= locationsList[i].id %>/edit" method="GET">
			        	<button>Edit</button>
			        </form>
			    	</div>

		        <div>
		        	<form action="/locations/<%= locationsList[i].id %>?_method=DELETE" method="POST">
		        		<button>Delete</button>
		        	</form>
		        </div>
		      
		        <% } %>
		        <br>
				<a href="/locations/new">Add new location</a>
				<br>
				<br>
				<form action="/logout?_method=DELETE" method="POST">
			        <button type="submit">Logout</button>
		    	</form>
		    	<br>
		    </div>
	    </div>
    	<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>